<table class="button" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <a lang="x-button" href="{{href}}" target="_blank">
                            Click Me!
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>