<table class="button" width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <td>
            <center>
                <table class="button-cnt" border="0" cellspacing="0" cellpadding="0" align="center">
                    <tr>
                        <td>
                            <a href="{{href}}" target="_blank" title="{{title}}">
                                <span>{{label}}</span>
                            </a>
                        </td>
                    </tr>
                </table>
            </center>
        </td>
    </tr>
</table>