<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<link rel="stylesheet" href="/node_modules/skeleton.css/skeleton.css"/>
<body>
<main>

    <div class="container">

        <h1>Email send form</h1>

        <form id="form">

            <label for="from">From</label>
            <input class="u-full-width" type="text" id="from" autocomplete="true" value="<%= from %>"/>

            <label for="subject">Subject</label>
            <input class="u-full-width" type="text" id="subject" autocomplete="true" value="<%= subject %>"/>

            <label for="mail">To</label>
            <input class="u-full-width" type="text" id="mail" autocomplete="true" value="<%= email %>"/>

            <button id="send">Send</button>
        </form>
    </div>

</main>

<script>
    var form = document.getElementById('form');
    var from = document.getElementById('from');
    var subject = document.getElementById('subject');
    var mail = document.getElementById('mail');

    form.onsubmit = function() {
        location = "/submit?" +
                "from=" + encodeURIComponent(from.value)
                + "&subject=" + encodeURIComponent(subject.value)
                + "&mail=" + encodeURIComponent(mail.value);

        return false;
    }
</script>
</body>
</html>