/* Vars
---------------------------------------------------------------------------------- */

//
// INCLUDABLE!
// VARS ONLY
//

/* Variables
-------------------------------------------------- */

$bg-main = #ffffff;
$bg-inv = #212121;
$bg-alt = #B6B6B6;
$bg-touch = lighten($bg-alt, 80%);
$bg-brand = #0288D1;
$bg-brand-2 = #03A9F4;
$bg-brand-inv = #B3E5FC;
$bg-special = #F40343;

$c-main = #212121;
$c-aux = #607D8B;
$c-alt = #727272;
$c-brand = #03A9F4;
$c-inv = #ffffff;

$line = 12px;
$grid = 24px;

$ff = Helvetica, Arial, sans-serif;

$fz-s = 12px;
$fz-n = 14px;
$fz-l = 18px;
$fz-xl = 24px;

/* /Variables */


/* Mixin
-------------------------------------------------- */

clearfix(){
    &:before,
    &:after {
        content: '';
        display: table;
        }

    &:after {
        clear: both;
        }
    }

/* /Mixin */

/* /Vars
---------------------------------------------------------------------------------- */