/* Vars
---------------------------------------------------------------------------------- */

//
// INCLUDABLE!
// VARS ONLY
//

/* Variables
-------------------------------------------------- */

$bg-body = #f0f0f0;
$bg-main = #ffffff;
$bg-inv = #333333;
$bg-alt = #999999;
$bg-border = #cccccc;
$bg-touch = lighten($bg-alt, 80%);
$bg-brand = #eb722e;
$bg-brand-2 = #b84819;
$bg-brand-inv = #B3E5FC;
$bg-special = #1daa09; // #78d81f

$c-main = #333333;
$c-aux = #666666;
$c-alt = #999999;
$c-brand = #eb722e;
$c-inv = #ffffff;

$line = 12px;
$grid = 20px;

$lh = 1.5;

$ff = Helvetica, Arial, sans-serif;

$fs-s = 12px;
$fs-n = 14px;
$fs-l = 18px;
$fs-xl = 24px;

$mw = 560px;

/* /Variables */


/* Mixin
-------------------------------------------------- */

clearfix(){
    &:before,
    &:after {
        content: '';
        display: table;
        }

    &:after {
        clear: both;
        }
    }

/* /Mixin */

/* /Vars
---------------------------------------------------------------------------------- */