/* Core
---------------------------------------------------------------------------------- */

/* Button
-------------------------------------------------- */

.button,
* [lang~="x-button-w"] {
    text-align: center;
    }

.button a,
* [lang~="x-button"] {
    display: inline-block;

    border-radius: 3px;
    border-top: $line solid $bg-brand;
    border-bottom: $line solid $bg-brand;
    border-right: $line*2 solid $bg-brand;
    border-left: $line*2 solid $bg-brand;

    background-color: $bg-brand;
    font-size: $fz-l;
    font-family: $ff;
    color: $c-inv;
    text-decoration: none;
    }

/* /Button */


/* /Core
---------------------------------------------------------------------------------- */